<h1>Compose new message</h1>
<% if @message.errors.any? %>
  <% @message.errors.details.keys.each do |attr| %>
    <div class="alert alert-danger">
      <%= @message.errors.full_messages_for(attr).first %>
    </div>
  <% end %>
<% end %>
<%= render 'new'%>
